<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google" content="notranslate">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_2386981_olgxjwjl5yb.css" type="text/css" />
    <title>ismart-admin</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but ismart-admin doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- import vue -->
    <!-- <script src="/cdn/vue.min.js"></script> -->
    <script src="<%= VUE_APP_VUE_CND %>"></script>
    <!-- import vue-router -->
    <!-- <script src="/cdn/vue-router.min.js"></script> -->
    <script src="<%= VUE_APP_VUE_ROUTER_CND %>"></script>
    <!-- import vuex -->
    <!-- <script src="/cdn/vuex.min.js"></script> -->
    <script src="<%= VUE_APP_VUEX_CND %>"></script>
    <!-- import iview -->
    <!-- <script src="/cdn/iview.min.js"></script> -->
    <script src="<%= VUE_APP_IVIEW_CND %>"></script>
    <!-- <script src="/cdn/axios.min.js"></script> -->
    <script src="<%= VUE_APP_AXIOS_CND %>"></script>
    <!-- <script src="/cdn/echarts.common.min.js"></script> -->
    <script src="<%= VUE_APP_ECHARTS_COMMON_CND %>"></script>
    <!-- <script src="/cdn/lodash.min.js"></script> -->
    <script src="<%= VUE_APP_LODASH_CND %>"></script>
    <!-- <script src="/cdn/moment.min.js"></script> -->
    <script src="<%= VUE_APP_MOMENT_CND %>"></script>
    <!-- built files will be auto injected -->
  </body>
</html>
